#carrosselDeCards {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carrosselDeProdutos {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ajustado para alinhar à esquerda */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card__produtos {
  height: 20rem;
  flex: 0 0 50%; /* Ajuste para mostrar um card inteiro e metade do próximo */
  margin: 10px;
  scroll-snap-align: start;
  background-color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--cor-sub-titulo);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card__produtos__img {
  width: 60%;
}

.card__produtos__h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

button {
  font-size: 18px;
  color: var(--cor-text);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}